/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
header, section, footer, aside, nav, main, article, figure { display: block; }

body {
  font-family: 'Open Sans', sans-serif;
}

/* --- Sidebar  --- */
aside {
  width:185px;
  padding: 15px;
  background: #1A1A1A;
  position: absolute;
  top:0; bottom:0; left:0; 
}

aside .title {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  display: block;
  text-align: center;
}

aside p {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  margin: 20px 0 0 0;
}

aside img {
  border: 2px solid #0c0c0c;
  max-width: 185px;
}

aside .social-icon {
  width:32px;
  height:32px;
  display: inline-block;
  overflow: hidden;
  text-indent: -2000px;
  background: url('/images/social.png') top left no-repeat;
  opacity: 0.3;
}

aside .social-icon:hover {
  opacity: 1;
}

aside .social-icon + .social-icon {
  margin-left: 5px;
}

aside .twitter {
  background-position: -32px 0;
}

aside .github {
  background-position: -64px 0;
}

/* --- Content --- */
main {
  margin: 15px 15px 15px 235px;
}

article h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
}

article h1 a {
  color: #000000;
  text-decoration: none;
}

article p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}