html {
    font-family: "Lora", "Georgia", serif;
    font-size: 18px;
    line-height: 1.4;
    color: hsl(0, 0%, 15%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 1rem;
    max-width: 51rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 500;
}

a {
    color: hsl(217, 50%, 35%);

    :visited {
        color: hsl(217, 50%, 30%);
    }
}


pre {
	overflow-x: auto;
}

img, iframe {
	max-width: 100%;
}
